type callaudio_service, domain, coredomain;
type callaudio_service_exec, system_file_type, exec_type, file_type;

init_daemon_domain(callaudio_service)

hal_client_domain(callaudio_service, hal_audio)

get_prop(callaudio_service, vendor_call_prop)
set_prop(callaudio_service, vendor_call_prop)
