on early-init
    # Determine which ipa/wpss firmware to load
    exec_start vendor.ipa_fws-sh

# bootloader revision 1, A528B (international)
on fs && property:ro.vendor.ipa.ver=1 && property:ro.vendor.device.variant=b
    mount none /vendor/firmware/ipa/a528b/rev1/yupik_ipa_fws.b00 /vendor/firmware/yupik_ipa_fws.b00 bind
    mount none /vendor/firmware/ipa/a528b/rev1/yupik_ipa_fws.b01 /vendor/firmware/yupik_ipa_fws.b01 bind
    mount none /vendor/firmware/ipa/a528b/rev1/yupik_ipa_fws.b02 /vendor/firmware/yupik_ipa_fws.b02 bind
    mount none /vendor/firmware/ipa/a528b/rev1/yupik_ipa_fws.b03 /vendor/firmware/yupik_ipa_fws.b03 bind
    mount none /vendor/firmware/ipa/a528b/rev1/yupik_ipa_fws.b04 /vendor/firmware/yupik_ipa_fws.b04 bind
    mount none /vendor/firmware/ipa/a528b/rev1/yupik_ipa_fws.elf /vendor/firmware/yupik_ipa_fws.elf bind
    mount none /vendor/firmware/ipa/a528b/rev1/yupik_ipa_fws.mdt /vendor/firmware/yupik_ipa_fws.mdt bind
    mount none /vendor/firmware/ipa/a528b/rev1/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/ipa/a528b/rev1/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/ipa/a528b/rev1/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/ipa/a528b/rev1/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/ipa/a528b/rev1/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/ipa/a528b/rev1/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/ipa/a528b/rev1/wpss.b06 /vendor/firmware/wpss.b06 bind
    mount none /vendor/firmware/ipa/a528b/rev1/wpss.b07 /vendor/firmware/wpss.b07 bind
    mount none /vendor/firmware/ipa/a528b/rev1/wpss.mdt /vendor/firmware/wpss.mdt bind
    write /dev/ipa 1

# bootloader revision 1, A528N (asia)
on fs && property:ro.vendor.ipa.ver=1 && property:ro.vendor.device.variant=n
    mount none /vendor/firmware/ipa/a528n/rev1/yupik_ipa_fws.b00 /vendor/firmware/yupik_ipa_fws.b00 bind
    mount none /vendor/firmware/ipa/a528n/rev1/yupik_ipa_fws.b01 /vendor/firmware/yupik_ipa_fws.b01 bind
    mount none /vendor/firmware/ipa/a528n/rev1/yupik_ipa_fws.b02 /vendor/firmware/yupik_ipa_fws.b02 bind
    mount none /vendor/firmware/ipa/a528n/rev1/yupik_ipa_fws.b03 /vendor/firmware/yupik_ipa_fws.b03 bind
    mount none /vendor/firmware/ipa/a528n/rev1/yupik_ipa_fws.b04 /vendor/firmware/yupik_ipa_fws.b04 bind
    mount none /vendor/firmware/ipa/a528n/rev1/yupik_ipa_fws.elf /vendor/firmware/yupik_ipa_fws.elf bind
    mount none /vendor/firmware/ipa/a528n/rev1/yupik_ipa_fws.mdt /vendor/firmware/yupik_ipa_fws.mdt bind
    mount none /vendor/firmware/ipa/a528n/rev1/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/ipa/a528n/rev1/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/ipa/a528n/rev1/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/ipa/a528n/rev1/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/ipa/a528n/rev1/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/ipa/a528n/rev1/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/ipa/a528n/rev1/wpss.b06 /vendor/firmware/wpss.b06 bind
    mount none /vendor/firmware/ipa/a528n/rev1/wpss.b07 /vendor/firmware/wpss.b07 bind
    mount none /vendor/firmware/ipa/a528n/rev1/wpss.mdt /vendor/firmware/wpss.mdt bind
    write /dev/ipa 1

# bootloader revision 2, A528B (international)
on fs && property:ro.vendor.ipa.ver=2 && property:ro.vendor.device.variant=b
    mount none /vendor/firmware/ipa/a528b/rev2/yupik_ipa_fws.b00 /vendor/firmware/yupik_ipa_fws.b00 bind
    mount none /vendor/firmware/ipa/a528b/rev2/yupik_ipa_fws.b01 /vendor/firmware/yupik_ipa_fws.b01 bind
    mount none /vendor/firmware/ipa/a528b/rev2/yupik_ipa_fws.b02 /vendor/firmware/yupik_ipa_fws.b02 bind
    mount none /vendor/firmware/ipa/a528b/rev2/yupik_ipa_fws.b03 /vendor/firmware/yupik_ipa_fws.b03 bind
    mount none /vendor/firmware/ipa/a528b/rev2/yupik_ipa_fws.b04 /vendor/firmware/yupik_ipa_fws.b04 bind
    mount none /vendor/firmware/ipa/a528b/rev2/yupik_ipa_fws.elf /vendor/firmware/yupik_ipa_fws.elf bind
    mount none /vendor/firmware/ipa/a528b/rev2/yupik_ipa_fws.mdt /vendor/firmware/yupik_ipa_fws.mdt bind
    mount none /vendor/firmware/ipa/a528b/rev2/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/ipa/a528b/rev2/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/ipa/a528b/rev2/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/ipa/a528b/rev2/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/ipa/a528b/rev2/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/ipa/a528b/rev2/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/ipa/a528b/rev2/wpss.b06 /vendor/firmware/wpss.b06 bind
    mount none /vendor/firmware/ipa/a528b/rev2/wpss.b07 /vendor/firmware/wpss.b07 bind
    mount none /vendor/firmware/ipa/a528b/rev2/wpss.mdt /vendor/firmware/wpss.mdt bind
    write /dev/ipa 1

# bootloader revision 2, A528N (asia)
on fs && property:ro.vendor.ipa.ver=2 && property:ro.vendor.device.variant=n
    mount none /vendor/firmware/ipa/a528n/rev2/yupik_ipa_fws.b00 /vendor/firmware/yupik_ipa_fws.b00 bind
    mount none /vendor/firmware/ipa/a528n/rev2/yupik_ipa_fws.b01 /vendor/firmware/yupik_ipa_fws.b01 bind
    mount none /vendor/firmware/ipa/a528n/rev2/yupik_ipa_fws.b02 /vendor/firmware/yupik_ipa_fws.b02 bind
    mount none /vendor/firmware/ipa/a528n/rev2/yupik_ipa_fws.b03 /vendor/firmware/yupik_ipa_fws.b03 bind
    mount none /vendor/firmware/ipa/a528n/rev2/yupik_ipa_fws.b04 /vendor/firmware/yupik_ipa_fws.b04 bind
    mount none /vendor/firmware/ipa/a528n/rev2/yupik_ipa_fws.elf /vendor/firmware/yupik_ipa_fws.elf bind
    mount none /vendor/firmware/ipa/a528n/rev2/yupik_ipa_fws.mdt /vendor/firmware/yupik_ipa_fws.mdt bind
    mount none /vendor/firmware/ipa/a528n/rev2/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/ipa/a528n/rev2/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/ipa/a528n/rev2/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/ipa/a528n/rev2/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/ipa/a528n/rev2/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/ipa/a528n/rev2/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/ipa/a528n/rev2/wpss.b06 /vendor/firmware/wpss.b06 bind
    mount none /vendor/firmware/ipa/a528n/rev2/wpss.b07 /vendor/firmware/wpss.b07 bind
    mount none /vendor/firmware/ipa/a528n/rev2/wpss.mdt /vendor/firmware/wpss.mdt bind
    write /dev/ipa 1

# Use A528B bootloader revision 3 firmware by default
on fs && property:ro.vendor.ipa.ver=3 && property:ro.vendor.device.variant=b
    write /dev/ipa 1

service vendor.ipa_fws-sh /vendor/bin/init.ipa_fws.sh
    class core
    user root
    oneshot
    disabled